
  
    body{

        background-color:#232325;
        margin: 0;
        
    }

    nav{
        background-color:#680606;
        display: flex;
    
    }

    #logo{
        width: 60px;
        height: 60px;
        display: block;
        padding-left: 40px;
        padding-top: 5px;
    }

    #contenedor{
        width: 15%;
    }

    nav ul{
        display: flex;
        margin-bottom: 0px;
        padding-top: 60px;
    }

    nav li{
        padding-right: 20px;
        list-style: none;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
        font-size: 0.9em;
    }

    nav ul li a:hover{
        color: white;
    }


    #titulologo{

        width: 85px;
        height: 48px;
        display: block;
        margin-top: -8px;
        padding-left: 35px;
    }

    time {
        
        color: white;
        
    }

    #contenedorfecha {
    
    display: flex; 
    margin-left: 400px;
    justify-content: center;
    align-items: center;
    
    }

    #barrabusqueda {
        display: flex; 
        color: white;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }

    footer {

        background-color:#272121;
        margin: 0px;
        
    }

    footer ul li{

        list-style: none;
        margin-right: 20px;
        
    }

    footer ul {
        display: flex ;
        justify-content: center;
        padding-top: 20px;
    }

    .doradoborde{
        
        text-align: center;
        color:#a77c36;
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
        padding-bottom: 20px;
    }

    #main{
        background-color: #a77c36;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin:20px;
        padding: 25px;
        width: 65%;
        float: left;
        background-image: url(pergamino.jpg);
        background-size: 1500px;
        background-position: center;
        background-repeat: repeat-y;
    }

    #secundaria {
        background-color: #a77c36;
        padding: 30px;
        margin-bottom: -20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        clear: left;
    }

    #lateral {
        background-color: white;
        width: 25%;
        padding: 10px;
        margin: 20px;
        overflow: hidden;
        
    }

    .secciones_main{
        margin-bottom: 30px;
        border-bottom: 4px solid  #888888;
        padding-bottom: 50px;
    }

    #famosos{
        border-bottom: none;
    }

    figure {

        margin-bottom: 40px;
        display: inline-block;
    }

    h2+h3{
        margin-top: 30px;
    }

    a{
        text-decoration: none;
    }

    figcaption {
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
    }

    .imagenesfavoritos{

        width: 200px;
        height: 200px;
    }

    #secundaria div{
        background-color: white;
        display:inline-flex;
    /* box-shadow: 0 0 2px black;*/
    border: 2.5px solid gray;
        margin:auto;
    }

    #secundaria h2{
        margin-bottom: 60px;
    }

