@media screen and (max-width:600px) and (min-width:480px) {

    nav{
    
      font-size: 14px;
      max-width: 600px;
      width: 100%;
      flex:1;
      display: block;
    }
    
    #contenedor{
      width: 100%;
    }
    
    #logo{
      width: 50px;
      height: 50px;
      justify-content: center;
      margin:0 auto;
      padding:5px;
    }
    
    #titulologo{
      width: 70px;
      height: 40px;
      justify-content: center;
      margin:0 auto;
      padding: 0;
    } 
    
    #contenedorul{
      width: 100%;
    }
     
    nav ul{
      display: block;
      text-align: center;
      margin-top: 0;
      padding-top: 0;
    }
    
    nav li{
      padding-right: 40px;
    }
    
    #barrabusqueda{
        
      justify-content: center;
      text-align: center;
      margin-top: 3px;
      padding-left:0;
    }
    
    #contenedorfecha{
      margin:0 auto;
      text-align: center;
      display: none;
    }
    
    #main,#secundaria,#lateral{
      margin: 10px;
      padding: 10px;
      font-size: 14px;
    }
    
    #main{
    
      width: 80%;
    }
    
    #lateral{
          
      display: inline-table;
    }
    
    img {
      width:280px ;
    }
    
    .alturasdragones{
      height: 180px;
    }
    
    .imagenesfavoritos{
      width: 130px;
      height: 130px;
    }
    
    iframe{
      width: 360px;
      height: 200px;
    }
    
    footer{
      font-size: 14px;
      max-width: 600px;
      width: 100%;
      flex:1;
      display: block;
    }
    
    footer ul{
      display: block;
      text-align: center;
      margin-top: 0;
    }
    
    footer ul li {
    
      margin-right: 40px;
    }
    
      };
        