@media screen and (max-width:360px) and (min-width:320px) {

nav{

  font-size: 13px;
  max-width: 360px;
  width: 100%;
  flex:1;
  display: block;
}

#contenedor{
  width: 100%;
}

#logo{
  width: 40px;
  height: 40px;
  justify-content: center;
  margin:0 auto;
  padding:5px;
}

#titulologo{
  width: 50px;
  height: 30px;
  justify-content: center;
  margin:0 auto;
  padding: 0;
} 

#contenedorul{
  width: 100%;
}
 
nav ul{
  display: block;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

nav li{
  padding-right: 40px;
}

#barrabusqueda{
    
  justify-content: center;
  text-align: center;
  margin-top: 3px;
  padding-left:0;
}

#contenedorfecha{
  margin:0 auto;
  text-align: center;
  display: none;
}

#main,#secundaria,#lateral{
  margin: 10px;
  padding: 10px;
  font-size: 12px;
}

#main{

  width: 80%;
}

#lateral{
      
  display: inline-table;
}

img {
  width:200px ;
}

.alturasdragones{
  height: 130px;
}

.imagenesfavoritos{
  width: 100px;
  height: 100px;
}

iframe{
  width: 280px;
  height: 150px;
}

footer{
  font-size: 13px;
  max-width: 360px;
  width: 100%;
  flex:1;
  display: block;
}

footer ul{
  display: block;
  text-align: center;
  margin-top: 0;
}

footer ul li {

  margin-right: 40px;
}

  };
    